html, body {
        margin: 0;
        padding: 0;
        overflow-x:hidden;
        /* to have smooth scroll effect */
        scroll-behavior: smooth; 
        
    }

/* some generic properties given to body for troubleshooting and distinguishing */
body {
    background-color: orange;
    background: -webkit-linear-gradient(to right, #EE7752, #E73C7E, #23A6D5, #23D5AB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EE7752, #E73C7E, #23A6D5, #23D5AB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* a changing gradient given to game div for creativity */
#game {
    z-index: -1;
    /* height: vh-100;
    width: vw-100; */
    color: #ffffff;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    /* overflow: hidden; */
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

/* to have the color changed when the scroltop() is greater than the height - main.js changes the color */
.scrolled {
    box-shadow: 0 .5rem 1rem grey;
    background-color: #2ab7ca !important;
    transition: background-color 400ms linear;
}

/* to toggle the color back with a smooth transition */
.fixed-top {
    transition: background-color 400ms linear;
}

.active {
    font-weight: 700;
    color: white;
    transition: color 300ms linear, font-weight 300ms linear;
}

/* chaning properties of buttons to make them look more suitbale for game */
.btn-primary-outline {
  background-color: grey;
  border-color: #ccc;
  opacity: 50%;
  color: whitesmoke;
  font-size: 2em;
  font-weight: 600;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  height: 2em;

}

/* a generic class to centre some elements in the html */
.centered {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overflow-hidden {
    overflow-y: hidden;
}

.overflow-allowed {
    overflow-y: visible;
}

/* The flipping on cards was learnt from bootstray website */
.cardMain {
    width: 8em;
    height: 6em;
    position: relative;
    border: 1px solid #ccc;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
}
.cardCustom {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
}
.cardCustom div {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 2em;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

/* 
Got help from the following link to hide the front of the cards on firefox and IE
https://stackoverflow.com/questions/49202655/flipping-a-card-over-with-css-js-firefox-issue
 */

.cardCustom .front {
  background: rgba(25, 25, 25, .35);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.cardCustom .back {
    background: rgba(25, 25, 25, .75);
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

/* final overlay css to make a transparent grey background */
#overlay {
  position: fixed;
  display: none;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20%;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

/* Final note after the game finishes */
#endNote{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  padding: 10%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

/* The graph CSS was learnt from the following link
https://codepen.io/ChrisDalley/pen/ZKJbKK */

.bar{
	fill: #28C587;
}
/* Lighten the axis lines */
#x-axis path,#y-axis line, #y-axis path{
	stroke: white;
}
/* Remove the tick marks on the x-axis */
#x-axis .tick line{
	visibility: hidden;
}

text{
	fill: white;
	font-size: 12px;
}

#x-axis text {
	font-weight: 600;
}

/* svg {
    width: 50%;
} */

/* Shine effect was learnt from the following link */
/* https://stackoverflow.com/questions/55989735/css-background-gradient-shine-animation */

.boxShine {
  height: 6em;
  background-color: rebeccapurple;
  background-image: linear-gradient(
    to right,
    transparent 55%,
    rgba(255,255,255,0.5) 50%,
    transparent 66%
  );
  background-size:500% 100%;
  animation: shine 3s;
}

@keyframes shine {
  0% {
    background-position: right;    
  }
}
/* making the svg graph responsive on all screen sizes */
svg {
    width: 50%;
    display: inline-block;
    /* text-align: center; */
}

/* footer basic css*/
footer {
    text-align: center;
    background-color: #2ab7ca;
    color: white;
    padding: 0;
    margin: 0;
}

/* changing only the size of social icons */
.footer > .social-icons {
    font-size: 2em;
}

/* changing the css properties of p element in footer */
.footer > p{
    font-size: 1.2em;
    font-weight: 600;
    opacity: .5;
    padding-bottom: 0;
    margin-bottom: 0;
}


/* Media Query to give border between start option and difficulty selector */
@media only screen and (max-width: 600px) {
  #difficulty {
    margin-bottom: 5%;
  }
}

/* media query to make the svg responsive on different screen sizes */
@media only screen and (max-width: 1024px) {
    svg {
        width: 100%;
    }
}